.card {
    background-color: #ffffff;
    padding: 1em;
    width: 320px; /* 横幅を調整 */
    height: 320px; /* 縦を調整 */
    margin: 1em auto; /* カード間の余白を確保 */
  }
  
  .card__title {
    color: #1A1A1A;
    font-size: 14px;
  }

  .card__description {
    color: #1A1A1A;
    font-size: 12px;
  }
  
  .card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 1em;
  }

  header {
    background-color: #ffffff;
  }

  body{
    background-color: #C4C4C4;
  }

  footer {
    background-color: #ffffff
  }